
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
    margin: 0;
    font-weight: none;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: beige;
}

header{
    padding: 5px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 48px; */
    border-top: 0.5px solid black;
    background-color: rgb(238, 247, 247);
    padding-bottom: 100px;
}

.mes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}

.mes .botao-mes{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    cursor: pointer;
    font-weight: 700;
}

.mes .botao-mes:hover{
    background-color: bisque;
}

.ano{
    text-align: center;
    color: grey;
}

.tabela table .dias td:hover {
    background-color: antiquewhite;
}

.tabela table .dias td {
    border: 1px solid black;
    /* border-radius: 10%; */
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;

}

.tabela table .dia-atual {
    background-color: #E2EBBC;
}

.event{
    position: relative;
}


.event:after{
    font-size: 12px;
    font-weight: 600;
    content: '5' ;
    color: white;
    height: 15px;
    width: 15px;
    background-color: lightcoral;
    display: block;
    margin: auto;
    left: 70%;
    bottom: 70%;
    position: absolute;
    border-radius: 50%;
    border: 00.5px solid black;

}
.event:hover:after{
    background-color: red;
}

.tabela .mes-anterior,.tabela .mes-quevem {
    color: hsl(180, 1%, 62%);
}

.tabela table .semana td{
   border: 1px solid black;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10%;
    background-color: beige;
}
.horarios{
    display: flex;

}
.campo-horarios{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    height: 550px;
    border: none;
    width: 400px;
    box-shadow: 2px 2px 2px gray;
}

form{
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
}

.input{
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: beige;
    color: black;
    height: 25px;

}

#ipt-obs{
    border-radius: 2px;
    border: 0.5px solid grey;
    background-color: beige;
    color: black;
}

.horarios .label{
    font-size: 20px;
    font-weight: 700;
}

.horarios .descricao{
    font-size: 14px;
    color: gray;
    font-weight: 400;
}

button{
    display: block;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: beige;
    color: black;
    font-weight: 550;
    border: 0.5px solid grey;
    cursor: pointer;
    font-size: 17px;

}

button:hover{
    background-color:grey;
}

footer {
    border-top: 0.5px solid black;
}